@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rubik+Bubbles&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
.h1{
  font-family: 'Rubik Vinyl', cursive;
}

